
<div class="page-header">
  <div class="panel panel-primary">
  <div class="panel-heading">Weather Search</div>
  <div class="panel-body">
    <%= form_with(url: "/dashboard/index", id: "search_city", method: "post") do %>
      <div class="form-group">
        <label for="usr">Search City:</label>
        <input type="text" class="form-control" id="city" name="city">
      </div>
    <% end %>
    <h1>Weather for <%= @weather.city %> <%= @weather.temperature[:celsius] %> &ordm; C </h1>

    <table class="table table-striped table-bordered table-condensed table-hover" >
    <tbody>
      <tr>
        <td>Pressure</td>
        <td><%= @weather.pressure %>hpa</td>
      </tr>
      <tr>
        <td>Humidity</td>
        <td><%= @weather.humidity %>%</td>
      </tr>
      <tr>
        <td>Min Temperature</td>
        <td><%= @weather.min_temperature %>&ordm;F</td>
      </tr>
      <tr>
        <td>Max Temperature</td>
        <td><%= @weather.max_temperature %>&ordm;F</td>
      </tr>
      <tr>
        <td>Wind Speed</td>
        <td><%= @weather.wind_speed %>mi/h</td>
      </tr>
        </tbody>
    </table>
</div>
</div> 
<!-- end panel -->
  
</div>

<%= content_for :javascripts do %>
  <%= javascript_include_tag "pages/dashboard/index" %>
<% end %>

